@import url(http://fonts.googleapis.com/css?family=Lato);

body {
margin: 0px;
padding: 0px;
font-family: 'Lato', sans-serif;
font-size: 11pt;
color: black;
background: url('img/escheresque.png') #e6e6e6;
}

/* Main content */
body *, body :focus, a {
outline: none;
}

h1 {
padding-bottom: 0px;
margin-bottom: 0px;
}

img {
border: none;
}

#wrapper {
position: relative;
width: 908px;
margin: 0px auto;
}

#content {
float: left;
width: 100%;
padding-bottom: 1em;
background: #eeeeec;
}

.content_bg {
float: left;
width: 902px;
background: transparent;
}

.main {
float: left;
width: 550px;
padding: 0px 25px 0px 25px;
}

#header {
float: left;
width: 908px;
background-color: #eeeeec;
}

#logo > img {
padding: 2em;
}

/* Main menu */
.menu {
position: relative;
display: block;
height: 2em;
background-color: #eeeeec;
padding-left: 1em;
}

.menu ul,
.menu ul li {
margin: 0px;
padding: 0px;
list-style: none;
list-style-image: none;
}

.menu ul li {
float: left;
height: 43px;
line-height: 43px;
margin-left: 1em;
}

.menu ul li a {
line-height: 43px;
padding: 0px 20px;
background-color: #d3d7df;
border-radius: 1em;
}

a,
a.link,
a.visited,
a.active {
text-decoration: none;
color: #0e6bba;
font-weight: normal;
font-style: normal;
}

a:hover {
text-decoration: underline;
}

.menu ul li a:hover {
text-decoration: none;
color: #eeeeec;
font-weight: normal;
font-style: normal;
background-color: #0e6bba;
}

h1 + .date {
display: block;
color: #888a85;
font-size: small;
height: 20px;
padding-bottom: 10px;
}

a + .date {
display: inline;
color: #888a85;
padding-left: 2px;
padding-right: 2px;
}

/* Style Quattor characteristics on front page. */
.main dl dt {
font-style: italic;
font-weight: bold;
margin-top: 0.5em;
}

/* Breadcrumb */
.breadcrumb {
display: block;
padding-bottom: 10px;
}

.breadcrumb ul {
display: block;
}

.breadcrumb ul,
.breadcrumb ul li {
margin: 0px;
padding: 0px;
list-style: none;
list-style-image: none;
}

.breadcrumb ul li {
display: inline;
padding-left: 10px;
}

.breadcrumb ul li.first {
padding-left: 0px;
}

.breadcrumb ul li.first:before {
content: none;
}

.breadcrumb ul li:before {
content: "\00BB";
}

.breadcrumb ul li a,
.breadcrumb ul li a.link,
.breadcrumb ul li a.visited,
.breadcrumb ul li a.active {
padding-left: 10px;
text-decoration: none;
color: black;
font-weight: normal;
font-style: italic;
}

.breadcrumb ul li a:hover {
padding-left: 10px;
text-decoration: underline;
color: black;
font-weight: normal;
font-style: italic;
}

.breadcrumb ul li.first a,
.breadcrumb ul li.first a.link,
.breadcrumb ul li.first a.visited,
.breadcrumb ul li.first a.active,
.breadcrumb ul li.first a:hover {
padding-left: 0px;
}

/* Turn off bullets for lists of posts. */
.list_news ul {
margin: 0px;
padding: 0px;
}

.list_news ul,
.list_news ul li {
list-style: none;
list-style-image: none;
}

.list_news ul li {
margin: 0px;
padding-top: 10px;
padding-bottom: 10px;
}

/* Ohloh and Google+ */
.ohloh {
padding-top: 10px;
}

.gplus {
    padding-top: 30px;
}

.ohloh span, .gplus span {
display: block;
padding-left: 10px;
padding-right: 10px;
height: 48px;
}

.ohloh span.left, .gplus span left {
float: left;
}

.ohloh span.right, .gplus span right {
float: right;
}

/* Footer */
#footer {
float: left;
display: block;
width: 908px;
color: #babdb6;
}

#footer > p {
text-align: center;
}
