<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Quattor | {{ page.title }}</title>
  <base href="{{ site.baseurl }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
	  href="bootstrap/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" media="screen"
	  href="bootstrap/css/pygments.css"/>
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <style type="text/css">
    body {
    padding-top: 60px;
    padding-bottom: 40px;
    }
  </style>
  <link rel="publisher" href="https://plus.google.com/106108753304191902209" />
  <link rel="icon" href="img/favicon.ico"/>
</head>
