<head profile="http://www.w3.org/1999/xhtml/vocab">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Quattor | {{ page.title }}</title>

  <base href="{{ site.baseurl }}" />

  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" media="screen" />
  <style type="text/css">
    body {
    padding-top: 60px;
    padding-bottom: 40px;
    }
  </style>
  <link rel="publisher" href="https://plus.google.com/106108753304191902209" />
  <link rel="icon" href="img/favicon.ico"/>
</head>
