<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Quattor | {{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% feed_meta %}
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" media="screen" />
  <link rel="stylesheet" type="text/css" media="screen" href="/bootstrap/css/pygments.css"/>
  <link rel="stylesheet" type="text/css" href="/octicons/octicons.css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Lato:400);
    body {
      padding-bottom: 40px;
      font-family: 'Lato', 'Helvetica', sans-serif;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      font-family: 'Lato', 'Helvetica', sans-serif;
    }
    ul, ol {
      padding-left: 2em;
    }
    div.toc {
      margin-left: -2em;
    }
    div.page-content {
      border-left: 5px solid #eee;
    }
  </style>
  <link rel="publisher" href="https://plus.google.com/106108753304191902209" />
  <link rel="icon" href="/img/favicon.ico"/>
</head>
