<div id="twitter">
    <base href="http://">
    <script type="text/javascript" charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <link href="http://widgets.twimg.com/j/2/widget.css" rel="stylesheet">
    <script type="text/javascript">
    <!--
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 4,
      interval: 30000,
      width: 250,
      height: 250,
      theme: {
        shell: {
          background: '#888a85',
          color: '#ffffff'
        },
        tweets: {
          background: '#eeeeec',
          color: '#000000',
          links: '#0e6bba'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: true,
        behavior: 'all'
      }
    }).render().setUser('QuattorToolkit').start();
    -->
    </script>
</div>
