---
comments: true
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="container">
      <div class="row">
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li><a href="{{ page.category }}/index.html">{{page.category | capitalize}}</a>
          </li>
          <li class="active">{{ page.title }}</li>
        </ul>
        <h1>{{ page.title }}</h1>
          <dl class="dl-horizontal">
            <dt>Written</dt><dd class="date">{{ page.date | date: "%d %B %Y" }}</dd>
            {% if page.modified %}<dt>Updated</dt><dd class="date">{{ page.modified | date: "%d %B %Y"}}</dd>{% endif %}
            {% if page.author %}<dt>Author</dt><dd class="author">{{ page.author }}</dd>{% endif %}
          </dl>
          <hr>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="toc" id="toc"></div>
        </div>
        <div class="col-md-10 page-content">
          {{ page.content | markdownify }}
        </div>
      </div> <!-- row  -->
    </div>
    {% if page.comments %}
    <hr>
    <div class="container">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'quattor'; // required: replace example with your forum shortnam
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();       </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    {% endif %}

    {% include footer.html %}
    </script>
  </body>
</html>
