<!DOCTYPE html>

<html
   xmlns="http://www.w3.org/1999/xhtml"
   xml:lang="en"
   version="XHTML+RDFa 1.0"
   dir="ltr"
   xmlns:content="http://purl.org/rss/1.0/modules/content/"
   xmlns:dc="http://purl.org/dc/terms/"
   xmlns:foaf="http://xmlns.com/foaf/0.1/"
   xmlns:og="http://ogp.me/ns#"
   xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
   xmlns:sioc="http://rdfs.org/sioc/ns#"
   xmlns:sioct="http://rdfs.org/sioc/types#"
   xmlns:skos="http://www.w3.org/2004/02/skos/core#"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="container">
      <div class="span12">
	<div class="row-fluid">
          <ul class="breadcrumb">
            <li><a href="index.html" class="first">Home</a><span class="divider">/</span></li>
            <li class="active"><a href="{{ page.category }}/index.html">{{ page.category | capitalize }}
	    </a></li>
          </ul>
	</div>
	<div class="page-header row-fluid">
          <h1 class="list_title">{{ page.title }}</h1>
	</div>
	<div class="row-fluid">
	  {{ page.content | markdownify }}
	</div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
