<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="container">
      <div class="row">
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li><a href="{{ page.category }}/index.html">{{page.category | capitalize}}</a>
          </li>
          <li class="active">{{ page.title }}</li>
        </ul>
        <h1>{% if page.subcategory %}{{ page.subcategory | capitalize }} &ndash; {% endif %}{{ page.title }}</h1>
        <dl class="dl-horizontal">
          {% if page.date %}<dt>Written</dt><dd class="date">{{ page.date | date: "%d %B %Y" }}</dd>{% endif %}
          {% if page.modified %}<dt>Updated</dt><dd class="date">{{ page.modified | date: "%d %B %Y"}}</dd>{% endif %}
          {% if page.author %}<dt>Author</dt><dd class="author">{{ page.author }}</dd>{% endif %}
        </dl>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-2">
          {% capture menufile %}docmenu.md{% endcapture %}
          {% if page.menu %}{% capture menufile %}{{ page.menu }}{% endcapture %}{% endif %}
          {% capture docmenu %}{% include {{menufile}} %}{% endcapture %}
          {{ docmenu | markdownify }}
        </div>
        <div class="col-md-10 page-content">
          {{ page.content | markdownify }}
        </div>
      </div> <!-- row  -->
    </div>
    {% include footer.html %}
    </script>
  </body>
</html>
