<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="container">
      <div class="row">
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          {% if page.title != 'Documentation' %}<li><a href="/{{ page.category }}/">{{page.category | capitalize}}</a></li>{% endif %}
          {% if page.subcategory %}<li><a href="/{{ page.category }}/{{ page.subcategory }}/">{{page.subcategory | capitalize}}</a></li>{% endif %}
          {% assign crumbs = page.title | split: '/' %}
          {% for crumb in crumbs %}<li class="active">{{ crumb | strip }}</li>{% endfor %}
        </ul>
        <h1>{% if page.subcategory %}{{ page.subcategory | capitalize }} &ndash; {% endif %}{{ page.title }}</h1>
        <dl class="dl-horizontal">
          {% if page.date %}<dt>Written</dt><dd class="date">{{ page.date | date: "%d %B %Y" }}</dd>{% endif %}
          {% if page.modified %}<dt>Updated</dt><dd class="date">{{ page.modified | date: "%d %B %Y"}}</dd>{% endif %}
          {% if page.author %}<dt>Author</dt><dd class="author">{{ page.author }}</dd>{% endif %}
        </dl>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-2">
          {% capture menufile %}docmenu.md{% endcapture %}
          {% if page.menu %}{% capture menufile %}{{ page.menu }}{% endcapture %}{% endif %}
          {% capture docmenu %}{% include {{menufile}} %}{% endcapture %}
          {{ docmenu | markdownify }}
        </div>
        <div class="col-md-10 page-content">
          {{ page.content | markdownify }}
        </div>
      </div> <!-- row  -->
    </div>
    {% include footer.html %}
  </body>
</html>
