<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="container">
      <div class="span12">
        <div class="row-fluid">
          <ul class="breadcrumb">
            <li><a href="index.html" class="first">Home</a><span class="divider">/</span></li>
            <li class="active"><a href="{{ page.title }}/">{{ page.title | capitalize }}
            </a></li>
          </ul>
        </div>
        <div class="page-header row-fluid">
          <h1 class="list_title">{{ page.title }}</h1>
        </div>
        <div class="row-fluid">
          {{ page.content | markdownify }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
