<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">

<html 
   xmlns="http://www.w3.org/1999/xhtml" 
   xml:lang="en" 
   version="XHTML+RDFa 1.0" 
   dir="ltr"
   xmlns:content="http://purl.org/rss/1.0/modules/content/"
   xmlns:dc="http://purl.org/dc/terms/"
   xmlns:foaf="http://xmlns.com/foaf/0.1/"
   xmlns:og="http://ogp.me/ns#"
   xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
   xmlns:sioc="http://rdfs.org/sioc/ns#"
   xmlns:sioct="http://rdfs.org/sioc/types#"
   xmlns:skos="http://www.w3.org/2004/02/skos/core#"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

  {% include head.html %}

  <body class="front_page">

    <div id="wrapper">

      <div id="header">        
        {% include menu.html %}
      </div>

      <div id="content">

<div class="main">

<img src="/img/quattor_logo_large.png" />

<h1>fabric management for grids and clouds</h1>

<p>Quattor is a system administration toolkit providing a powerful,
portable, and modular set of tools for the automated installation,
configuration, and management of clusters and farms. It is developed
as a community effort and provided as open-source software.</p>

<p>Quattor was originally developed to manage the clusters and
services used in grid computing. Today, Quattor is being used to
manage multiple separate infrastructures spread across Europe. These
range from massive single-site installations such as CERN (where more
than 7000 machines are managed) to highly-distributed grid
infrastructures such as Grid-Ireland.</p>
</div>
        
        {% include sidebar.html %}
          
        {% include footer.html %}

      </div>
      
    </div>
  </body>
</html>
