<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="jumbotron page-header">
          <h1>DevOps for GrownUps</h1>
          <p>A <b>system administration toolkit</b> providing a powerful, portable, and modular set of tools for the automated installation, configuration, and management of clusters, farms, grids and clouds.</p>
        </div>

        <div>
          <p>
            Quattor is developed as a community effort and provided as <strong><a href="https://github.com/quattor/">open-source software</a></strong>
            under the <strong><a href="http://opensource.org/licenses/Apache-2.0">Apache 2.0 license</a></strong> and
            <a href="https://opensource.org/licenses/EUDatagrid">EU DataGrid Software License</a>.
          </p>
        </div>

        <div class="row">
          <div class="col-md-3">
            <h2>Complete</h2>
            <p>Batteries included.</p>
            <p>Tools that work well together to manage the complete lifecycle of systems; from initial installation, through configuration, to service upgrades.</p>
          </div>
          <div class="col-md-3">
            <h2>Flexible</h2>
            <p>As much or as little as <em>you</em> want.</p>
            <p>Well defined interfaces between tools allow alternative implementations and integration with existing site-specific tools.</p>
          </div>
          <div class="col-md-3">
            <h2>Scalable</h2>
            <p>Enterprise for everyone.</p>
            <p>Proven in academic and commercial environments, managing infrastructures ranging from tens of systems to over 30000. </p>
          </div>
          <div class="col-md-3">
            <h2>Accurate</h2>
            <p>Move fast <em>without</em> breaking things.</p>
            <p>Extensive validation features for system descriptions catch configuration errors <em>before</em> you deploy them to your infrastructure.</p>
          </div>

        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
