<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">

<html
   xmlns="http://www.w3.org/1999/xhtml"
   xml:lang="en"
   version="XHTML+RDFa 1.0"
   dir="ltr"
   xmlns:content="http://purl.org/rss/1.0/modules/content/"
   xmlns:dc="http://purl.org/dc/terms/"
   xmlns:foaf="http://xmlns.com/foaf/0.1/"
   xmlns:og="http://ogp.me/ns#"
   xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
   xmlns:sioc="http://rdfs.org/sioc/ns#"
   xmlns:sioct="http://rdfs.org/sioc/types#"
   xmlns:skos="http://www.w3.org/2004/02/skos/core#"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

  {% include head.html %}
  <style type="text/css">
    body {
    padding-top: 60px;
    padding-bottom: 40px;
    }
  </style>
  <body>
    {% include header.html %}

    <div class="container">

      <div class="hero-unit">

        <h1>fabric management done right</h1>

        <p>Quattor is a <strong>system administration toolkit</strong>
          providing a powerful, portable, and modular set of tools for the
          automated installation, configuration, and management of clusters
          and farms.</p>
        <p>It is developed as a community effort and provided as
          <strong><a href="https://github.com/quattor/">open-source software</a></strong>
          (<a href="http://sourceforge.net/projects/quattor/">SourceForge</a>,
          <a href="https://github.com/quattor/">GitHub</a>) under the
          <strong><a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2
              license</a></strong> and
          <strong><a href="http://opensource.org/licenses/eudatagrid.php">EU
              DataGrid Software License</a></strong>.</p>

      </div>
      <div class="row">
        <div class="span3">
          <h2>Complete</h2>

          <p>Quattor is a set of tools that work well together to manage the
            complete lifecycle of machines&mdash;from initial installation, through
            configuration, to service upgrades. </p>
	</div>
	<div class="span3">
          <h2>Flexible</h2>

          <p>The tools interact via well defined interfaces, allowing
            alternative implementations and integration existing site-specific
            tools.</p>
	</div>
	<div class="span3">
          <h2>Scalable</h2>

          <p>Used in academic and commercial environments, managing
            infrastructures ranging from tens of nodes to <a
							     href="http://www.wallstreetandtech.com/it-infrastructure/216402934">over
              20000</a>. </p>
	</div>
	<div class="span3">
          <h2>Accurate</h2>

          <p>Extensive validation features for machine descriptions catch
            configuration errors <em>before</em> they are deployed onto your
            infrastructure.</p>
	</div>

      {% include sidebar.html %}

      </div>

	{% include footer.html %}

    </div>
        <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
